li.tag {
    cursor: pointer;

    a {
        display: block;
        margin: 2px;
        padding: 0px 10px;

		background-color: rgba(255,255,255,0.2);
        border-radius: 99pt;

        color: white;
        line-height: 26px;
        font-size: 10pt;

        &:hover {
            text-decoration: none;
        }

        span {
            margin-right: 2px;
        }
    }
}


@media only screen and (min-width: 3600px) {
    li.tag a {
        height: 60px;
        padding: 0px 20px;
        margin-right: 16px;

        font-size: 0.8em;
        line-height: 60px;
    }
}