section#works {
    position: relative;
    z-index: 3;

    background: url("./wave.svg"), #070707;
	background-repeat: no-repeat;
    background-position: bottom;

    .projects {
        width: 100%;
        // padding-top: 6em;
        padding-bottom: 3em;
    }
}