article.project {
	display: grid;
	box-sizing: border-box;

	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: 
		"thumb details"
		"thumb details";

	height: 400px;

	margin-top: 20px;
	margin-bottom: 80px;

	background: var(--bg-gradient);
	border-radius: 10pt;

	overflow: hidden;
	transition: 0.2s;

	&.animating {
		animation: "morph-project" 500ms 250ms forwards;
	}

	&:nth-child(2n) {
		grid-template-areas: "details thumb";
	}

	.thumb {
		grid-area: thumb;
		background-size: cover;
		background-position: center center;

		clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
		transition: 0.2s;

		&.animating {
			animation: "morph-thumb" 250ms forwards;
		}
	}

	h2 {
		margin-bottom: 0px !important;
		padding-top: 0px !important;
	}

	.details {
		grid-area: details;
		position: relative;

		margin: 3.6em;

		transition: 0.2s;

		&.animating {
			animation: "morph-details" 500ms forwards;
		}

		h3 {
			margin-bottom: 6px;
		}

		p {
			margin-bottom: 18px;
		}

		ul.links {
			display: inline-flex;
			list-style: none;

			height: 20px;
			line-height: 20px;

			li:not(:first-child) ::before{
				content: "|";
				color: rgba(255, 255, 255, 0.6);

				margin-left: 6px;
				margin-right: 6px;
			}
		}

		span.read {
			display: block;

			margin-top: 1.6em;
			margin-bottom: 10px;
			font-size: 1em;
		}

		ul.tags {
			position: absolute;
			display: flex;
			flex-wrap: wrap;

			height: auto;

			bottom: 0px;

			list-style: none;
		}
	}

	@keyframes morph-project {
		to {
			background: #070707;
			height: 1200px;
		} 
	}

	@keyframes morph-details {
		to {
			opacity: 0%;
		}
	}

	@keyframes morph-thumb {
		to {
			clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
		}
	}  
}

@media only screen and (min-width: 3600px) {
	article.project {
		height: 1000px;
		font-size: 2.4em;
		border-radius: 36pt;

		.details {
			h2 {
				font-size: 1.8em;
			}

			ul.links {
				height: 80px;
				line-height: 80px;
			}

			ul.tags {
				height: 60px;
			}
		}
	}
}

@media only screen and (max-width: 1224px) {
	article.project {
		grid-template-areas: 
			"thumb thumb" 
			"details details";

		height: 600px;

		.details {
			margin: 2.8em;

			ul.tags li a {
				font-size: 8pt;
			}
		}
	}
}