section#socials {
    background: url("./wave.svg"), var(--gradient-reverse);
    background-repeat: no-repeat;
    background-position: bottom;
    padding-bottom: 100px;
    z-index: 3;

    .bubbles {
        display: grid;

        grid-template-columns: repeat(10, minmax(66px, 6vw));
        grid-template-rows: repeat(9, minmax(66px, 6vw));

        .bubble {
            position: relative;
            display: block;
            width: 60%;
            height: 60%;

            align-self: center;
            margin-left: auto;
            margin-right: auto;

            background: radial-gradient(white, #ededed);
            border-radius: 50%;
        }

        a {
            border: 5px solid white;
            box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
            animation: float 2s infinite;

            svg {
                font-size: 20pt;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                margin: 0px;

                path {
                    color: var(--text-dark);
                }
            }
        }

        .filler {
            grid-column: 9/11;
            grid-row: 6/8;

            opacity: 0.6;

            background: var(--gradient-reverse);
        }

        .filler2 {
            grid-column: 1/4;
            grid-row: 7/10;

            opacity: 0.6;

            background: var(--gradient-reverse);
        }

        .photo {
            grid-column: 1/6;
            grid-row: 1/6;

            background-image: url("./also-me.jpeg");
            background-size: cover;
        }

        .photo2 {
            grid-column: 6/9;
            grid-row: 4/7;

            background-image: url("./me.jpeg");
            background-size: cover;
        }

        .github {
            grid-column: 7/8;
            grid-row: 2/3;

            animation-delay: 1s;
        }
        
        .discord {
            grid-column: 9/10;
            grid-row: 3/4;

            animation-delay: 1.5s;
        }

        .mail {
            grid-column: 3/4;
            grid-row: 6/7;
        }

        .instagram {
            grid-column: 5/6;
            grid-row: 8/9;

            animation-delay: 0.5s;
        }
    }
}

@keyframes float {
    0% {
        transform: translateY(-2px);
    }

    50% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-2px);
    }
}

@media only screen and (min-width: 3600px) {
    section#socials .bubbles {
        a svg {
            font-size: 4em;
        }
    }
}

@media only screen and (max-width: 1224px) {
    section#socials .bubbles {
        grid-template-columns: repeat(6, 15vw);
        grid-template-rows: repeat(11, 15vw);

        a svg {
            font-size: 1.2em;
        }

        .filler {
            grid-column: 5/7;
            grid-row: 10/12;
        }

        .filler2 {
            grid-column: 1/4;
            grid-row: 8/11;
        }

        .photo {
            grid-column: 1/5;
            grid-row: 1/5;
        }

        .photo2 {
            grid-column: 4/7;
            grid-row: 4/7;
        }

        .github {
            grid-column: 5/6;
            grid-row: 2/3;
        }

        .discord {
            grid-column: 6/7;
            grid-row: 7/8;
        }

        .mail {
            grid-column: 2/3;
            grid-row: 5/6;
        }

        .instagram {
            grid-column: 4/5;
            grid-row: 9/10;
        }
    }
}