header {
    position: relative;

    width: 100vw;
    height: 100vh;
    background: 
        linear-gradient(#070707, rgba(2, 0, 36, 0.8)),
        linear-gradient(-30deg, #02c75e, rgba(7,7,7,0.2)),
        linear-gradient(30deg, red, rgba(7,7,7,0.2));
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .heading {
        position: absolute;
        z-index: 3;

        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        text-align: center;

        font-size: 14pt;
    }

    .scroller {
        position: absolute;
        z-index: 2;

        top: 80%;
        left: 50%;

        width: 20px;
        height: 30px;

        transform: translate(-50%, -50%);

        text-align: center;

        .icon {
            animation: bop 3s infinite;
        }
    }
}

@keyframes bop {
    0% {
        transform: translateY(0px);
    }

    10% {
        transform: translateY(12px);
    }

    20% {
        transform: translateY(0px);
    }

    30% {
        transform: translateY(12px);
    }

    40% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(0px);
    }
}

@media only screen and (max-width: 1224px) {
    header .heading {
        top: 40%;
    }
}