header {
    position: relative;
    overflow: hidden;

    width: 100vw;
    height: 100vh;
    background: #070707;

	.background {
		z-index: 3;
		position: absolute;
		display: grid;
		width: 100vw;
    	height: 100vh;
		grid-template-columns: 1% repeat(5, 1fr) 1%;
		grid-template-rows: 1% repeat(4, 1fr) 1%;
		gap: 20px;

		* {
			border-radius: 26px;
		}

		#bg-elem1 {
			grid-row: 3/5;
			grid-column: 2/4;
			background: linear-gradient(90deg, #010101 0%, #1D1D28 60%);
		}

		#bg-elem2 {
			grid-row: 2/4;
			grid-column: 5/7;
			background: linear-gradient(262.24deg, #141416 3.52%, #1D1D28 95.39%);
		}

		#bg-elem3 {
			grid-row: 4/6;
			grid-column: 4/6;
			background: linear-gradient(270deg, #141416 3.52%, #1D1D28 100%);
		}
	}

	.content {
		position: relative;
		z-index: 4;
		display: block;
		width: 60vw;
		margin-left: auto;
		margin-right: auto;
		margin-top: 34vh;

		.heading {
			text-align: left;
			font-size: 16pt;

			button {
				margin-top: 6%;

				background: var(--gradient);
				padding: 0.8em 2em;

				border: none;
				border-radius: 80pt;

				font-size: 12pt;
				transition: 0.2s;

				&:hover {
					box-shadow: 0px 0px 0px 2px white;
				}
			}
		}
	}
}

@keyframes bop {
    0% {
        transform: translateY(0px);
    }

    10% {
        transform: translateY(12px);
    }

    20% {
        transform: translateY(0px);
    }

    30% {
        transform: translateY(12px);
    }

    40% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(0px);
    }
}

@media only screen and (min-width: 3600px) {
    header  {
		.content {
			width: 50vw;

			.heading {
				font-size: 3em;

				button {
					font-size: 0.8em;
				}
			}
		}

		.background {
			grid-template-columns: 1% repeat(5, 1fr) 1%;
			grid-template-rows: 1% repeat(4, 1fr) 1%;
			gap: 60px;

			* {
				border-radius: 8em;
			}
		}
    }
}

@media only screen and (max-width: 1224px) {
    header .content {
        width: 90vw;
		
		.heading {
			text-align: center;
		}
    }
}