.Article {
    position: absolute;
    z-index: 100;
    width: 100vw;
    height: 100vh;
}

main {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);

    width: 50vw;
    min-width: 800px;

    background: #101010;
    border: 5px solid #101010;
    border-bottom: none;
    border-top-right-radius: 12pt;
    border-top-left-radius: 12pt;

    overflow: hidden;

    animation: "morph-card" 500ms forwards;
    transition: 0.2s;

    .close {
        position: fixed;
        right: 5px;
        top: 5px;
        font-size: 0.8em;

        a svg path{
            color: var(--text-light);
        }
    }

    .thumb {
        width: 100%;
        height: 400px;
        background-position: center center;
        background-size: cover;
        background-color: #010101;
    }

    .details {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 60px 80px;

        width: 90%;
        padding: 20px 5% 0px 5%;

        background: #070707;
        border-bottom-left-radius: 16pt;
        border-bottom-right-radius: 16pt;

        box-shadow: 0px 10px 10px rgba(0,0,0,0.02);

        h1 {
            line-height: 60px;
        }

        ul.tags {
            display: flex;
            margin-left: auto;
            list-style: none;
            align-items: center;

            li.tag a{
                background: #101010;
            }
        }

        ul.links {
            display: flex;
            list-style: none;
            margin-top: 10px;

            li {
                margin-right: 12px;

                a {
                    color: white;
                }
            }
        }
    }

    .markdown {
        width: 80%;

        font-size: 12pt;

        animation: "morph-markdown" 500ms forwards;
        transition: 0.2s;

        h1 {
            font-size: 2em;
        }

        h2 {
            font-size: 1.6em;
        }

        h3 {
            font-size: 1.4em;
        }

        p {
            line-height: 1.6em;
            word-spacing: 0.1em;
        }

        a {
            text-decoration: underline;
            color: white;
        }

        img {
            width: 104%;
            margin-left: -2%;
        }

        pre {
            background: radial-gradient(white, #ededed);
            border-radius: 8pt;
            font-family: 'JetBrains Mono', monospace !important;

            span {
                min-width: 1em !important;
            }
        }
    }

    * {
        color: white;
    }
}

@keyframes morph-markdown {
    0% {
        height: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    90% {
        height: 100vh;
        margin-top: 60px;
        margin-bottom: 60px;
    }

    100% {
        height: auto;
        min-height: 100vh;
        margin: 60px auto;
    }
}

@keyframes morph-card {
    from {
        border-bottom-left-radius: 12pt;
        border-bottom-right-radius: 12pt;
    }

    to {
        border-bottom-left-radius: 0pt;
        border-bottom-right-radius: 0pt;
    }
}

@media only screen and (min-width: 3600px) {
    main {
        border-top-right-radius: 24pt;
        border-top-left-radius: 24pt;

        .close svg {
            margin: 32px;
            font-size: 4em;
        }
        
        .thumb {
            height: 900px;
        }

        .details {
            grid-template-rows: 140px 160px;
            height: 300px;

            font-size: 3em;

            h1 {
                line-height: 140px;
            }
        }

        .markdown {
            font-size: 2.6em;
        }
    }
}

@media only screen and (max-width: 1224px) {
    main {
        width: 90vw;
        min-width: 0px;

        .thumb {
            height: 220px;
            background-size: 500px;
        }

        .details {
            grid-template-rows: 60px 40px auto;
            grid-template-rows: 1fr;

            .links {
                grid-row: 2/3;
                align-items: center;
                margin-top: 0px !important;
                margin-bottom: 20px;
            }

            .tags {
                grid-row: 3/4;
                flex-wrap: wrap;
                margin-bottom: 20px;
                margin-left: 0px !important;
            } 
        }
        .markdown {
            width: 90%;
        }
    }
}