.item {
	position: relative;
	
	height: 300px;
	// background-color: #f2f2f2;

	border-radius: 16pt;

	text-align: center;

	.item-content {
		display: flex;
		flex-direction: column;

		position: absolute;
		top: 50%;
		left: 50%;

		transform: translate(-50%, -50%);
	}

	svg {
		margin-bottom: 6px;
		margin-left: auto;
		margin-right: auto;
		color: #7289da;
	}

	.cta {
		margin-top: 20px;
		padding: 5px 20px;

		border-radius: 16pt;

		background: #cc452e;
		color: white;

		transition: 0.1s;

		&:hover {
			text-decoration: none;
			filter: brightness(0.9)
		}
	}
}