@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--gradient: linear-gradient(90deg, #14c1a2 0%, #587edf 100%);
	--bg-gradient: linear-gradient(262.24deg, #141416 3.52%, #1d1d28 95.39%);
	--text-dark: #1b1b1b;
	--text-light: white;
}

.card {
	@apply w-full rounded-2xl bg-bermuda-card;
}

.gradient-outline::after {
	@apply rounded-xl;
	content: '';
	position: absolute;
	inset: 0;
	margin: -3px;
	z-index: -1;
	background-image: linear-gradient(to top left, #6a6a77, #6e6a77);
	transform: translateZ(-1px);
}

.gradient-outline {
	transform-style: preserve-3d;
}

.AdaptiveText > span {
	text-align: left !important;
	display: flex !important;
	align-items: center;
	height: 100%;
}

* {
	margin: 0px;
	padding: 0px;
}

body {
	@apply font-sans;

	overflow-x: hidden;
	overflow-y: overlay;
	background: #12121a;
	color: var(--text-light);
}

a {
	color: var(--text-light);
	text-decoration: none;

	&:hover,
	&.active {
		text-decoration: underline;
	}
}
