#riser {
    position: relative;
    width: 100vw;
    overflow-x: clip;

    .sun {
        position: absolute;
        z-index: 2;

        width: 200px;
        height: 200px;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);

        background: linear-gradient(90deg, #e36552, #e25a5a);
        border-radius: 50%;
    }
}