section#contact {
    min-height: 100vh;

    background: url("wave.svg"), #070707;
    background-repeat: no-repeat;
    background-position: top;

    z-index: 3;

    form {
        display: grid;

        gap: 1.4em;

        grid-template-rows: 60px 1fr 60px;
        grid-template-columns: 1fr 1fr;

        height: 60vh;

        p {
            position: relative;
            display: flex;
            flex-direction: column;

            label {
                font-size: 10pt;
                font-weight: 700;
                margin-bottom: 4px;
            }

            input,
            textarea,
            button {
                position: relative;
                padding: 0.6em 0.8em;

                background: #303030;
                border: none;
                border-radius: 4pt;

                font-size: 12pt;

                transition: 0.1s;

                &:focus {
                    outline: none;
                    box-shadow: 0px 0px 0px 2px #808080;
                }

                &.red {
                    box-shadow: 0px 0px 0px 2px red;
                }
            }

            textarea {
                height: 100%;
                resize: none;
            }

            button {
                position: relative;
                z-index: 3;
                width: 100%;

                margin-left: auto;
                margin-right: auto;

                border-radius: 4pt;
                background: var(--gradient);
                color: white;

                transition: 0.2s;

                .spinner, .overlay {
                    display: none
                }

                &::after {
                    position: absolute;
                    content: '';
                    width: 20px;

                    top: 50%;
                    transform: translateY(-50%);

                    margin-left: 2px;

                    border: 6px solid transparent;
                    border-left: 8px solid white;

                    opacity: 0;
                    transition: 0.2s;
                }

                &.awesome {
                    color: transparent;
                    box-shadow: 0px 0px 0px 2px transparent;
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;

                    &:hover {
                        box-shadow: 0px 0px 0px 2px transparent;

                        &::after {
                            content: none;
                        }
                    }
                }

                &.loading .overlay {
                    display: block;
                    position: absolute;
                    width: 100px;
                    height: 100px;
                    top: 0px;
                    left: 0px;

                    background: linear-gradient(170deg, #e25a5a 0%, #e79b28 40%, #C1DC1E 50%, #C1DC1E 55%, #61A30E 100%);
                    background-position: top;
                    background-size: 100px 120px;
                    border-radius: 50%;
                    transition: background 0.4s;

                    line-height: 100px;
                }

                &.loading .spinner {
                    display: block;
                    position: absolute;
                    top: -2px;
                    left: -2px;
                    width: 44px;
                    height: 44px;

                    background: transparent;
                    border-radius: 50%;

                    animation: rotate 1s infinite forwards;
                    transition: 0.2s;


                    .rotater {
                        content: '';
                        position: absolute;
                        z-index: 1;

                        top: 0px;
                        left: 0px;
                        right: 0px;
                        bottom: 0px;
                        width: 50%;
                        height: 50%;
                        border-radius: 100% 0 0 0;
                        background: white;
                    }
                }

                &.loading.done {
                    .overlay {
                        background-position: bottom;
                    }

                    .spinner {
                        .rotater {
                            animation: shrink 0.6s forwards;
                        }
                    }
                }
            }

            button:hover {
                box-shadow: 0px 0px 0px 2px white;
                cursor: pointer;

                &::after {
                    margin-left: 6px;
                    opacity: 1;
                }
            }
        }

        p.message, p.submit {
            grid-column: 1/3;
        }
    }

    @keyframes shrink {
        from {
            transform: scale(1);
        }
        to {
            transform: scale(0.01);
        }
    }

    @keyframes rotate {
        from {
            transform: rotateZ(30deg);
        }

        to {
            transform: rotateZ(390deg);
        }
    }
}

@media only screen and (min-width: 3600px) {
    section#contact form {
        gap: 2.4em;
        grid-template-rows: 140px 1fr 140px;

        label {
            margin-bottom: 10px !important;
            font-size: 2em !important;
        }

        input, textarea, button {
            border-radius: 8pt !important;
            font-size: 2.4em !important;
        }

        button{
            height: 100px;

            &::after {
                border: 16px solid transparent !important;
                border-left: 20px solid white !important;
            }
        }
    }
}

@media only screen and (max-width: 1224px ) {
    section#contact form{
        grid-template-rows: 60px 60px 1fr 60px;
        height: 80vh;
    }

    p {
        grid-column: 1/3;
    }
}