* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
	color: #2C2C2C;
}

body {
	overflow-x: hidden;

	&.modal-open {
		overflow: hidden;

		.overlay {
			background-color: rgba(0,0,0,0.4);
		}
	}
}

.content {
	width: 80%;
	min-height: 80vh;

	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 120px;

	padding-top: 160px;

	h3 {
		width: 200px;

		margin-bottom: 120px;
		margin-left: auto;
		margin-right: auto;

		text-align: center;
		padding-bottom: 1em;
		border-bottom: 2px solid #cc452e;
	}
}

.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

h1 {
	font-weight: 700;
	font-size: 2.8em;
	font-family: 'Ubuntu', sans-serif;
}

h2 {
	font-weight: 300;
	font-size: 1.2em;
}

h3 {
	font-weight: 300;
	font-size: 1.8em;
	font-family: 'Ubuntu', sans-serif;
}

h4 {
	font-weight: 300;
	font-size: 1.4em;
	font-family: 'Ubuntu', sans-serif;
}

a {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}